<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>
<p>Приветствую пользователь!</p>
<p>
    Вы получили это электронное письмо, потому что был инициирован запрос на сброс пароля для вашей учетной записи.
    Если вы этого не запрашивали, проигнорируйте это письмо.
</p>
<p>Чтобы сбросить пароль, нажмите на следующую ссылку:</p>
<form action="{{redirectUri}}?token={{token}}", method="GET">
    <button class="reset-password-btn">Сбросить пароль</button>
</form>
<p>Срок действия этой ссылки истекает через {{expiryDatetime}} по соображениям безопасности.</p>
<p>С наилучшими пожеланиями, KGWork.</p>
</body>
</html>